* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.shape {
  width: 550px;
  height: 400px;
  background-color: aqua;
  margin: 20vh auto 0;
}

.shape .top {
  height: 30%;
  background-color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shape .top .text {
  margin: 0 30px;
  color: azure;
  letter-spacing: 1.6px;
}

.shape .top .text h2 {
  margin: 5px 0;
}

.shape .top .text p {
  font-size: 20px;
}

.shape .top .rightText {
  text-align: right;
}

.shape .bottom {
  height: 70%;
  background-color: azure;
}
